[submodule "thirdparty/stbimage"]
	path = thirdparty/stbimage
	url = https://github.com/nothings/stb
[submodule "thirdparty/glm"]
	path = thirdparty/glm
	url = https://github.com/g-truc/glm
[submodule "thirdparty/glfw"]
	path = thirdparty/glfw
	url = https://github.com/glfw/glfw
[submodule "thirdparty/freetype"]
	path = thirdparty/freetype
	url = https://github.com/freetype/freetype
[submodule "thirdparty/glew"]
	path = thirdparty/glew
	url = https://github.com/Perlmint/glew-cmake
[submodule "thirdparty/plog"]
	path = thirdparty/plog
	url = https://github.com/SergiusTheBest/plog